:root {
    --animation-speed: 1s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header and Intro */
header {
    background: url('../img/header_img.jpg') no-repeat center center/cover;
    height: 43.5rem;
    color: #f5f5f5;
}
.header__nav {
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul {
    display: flex;
}
.header__nav ul li {
    margin: .5rem;
    padding: .6rem;
}
.header__nav ul li:hover, .current {
    background: #f04;
    border-radius: .2rem;
}
.header__nav ul li a {
    padding: .25rem;
    color: #fff;
}
.header__nav-text {
    font-size: 1.2rem;
}

.intro {
    margin-top: -3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.intro h3 {
    font-size: 2.85rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-120rem);
    animation: slidedown var(--animation-speed) forwards ease;
}
@keyframes slidedown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.intro p {
    margin-top: .3rem;
    font-size: 1.3rem;
    text-align: center;
    transform: translateX(-120rem);
    animation: slideright var(--animation-speed) forwards ease 1s;
}
@keyframes slideright {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.intro h3, .intro p {
    width: 48%;
}
.intro-image {
    background: url('../img/coded_prof_intro.jpg') no-repeat center center/cover;
    width: 9rem;
    height: 9rem;
    border-radius: 25%;
    transform: translateY(-120rem);
    animation: slidedown var(--animation-speed) forwards ease;
}
.intro a {
    margin-top: .7rem;
    background: #f04;
    padding: .6rem;
    color: #fff;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(120rem);
    animation: slideup var(--animation-speed) forwards ease 1.4s;
}
@keyframes slideup {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.intro a:focus {
    outline: none;
}
.intro img {
    padding: 0 .5rem;
}

/* About */
.about {
    overflow: hidden;
    background: #f5f5f5;
    visibility: hidden;
    opacity: 0;
}
.about-header {
    margin-bottom: 1rem;
}
.about-body {
    margin: 0 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-photo {
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    border-radius: 25%;
}
.about.show {
    opacity: 1;
    visibility: visible;
}
.about.show .info-box {
    transform: translateX(0);
}
.info-box {
    min-height: 20rem;
    flex: 0 0 50%;
    margin-right: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-120rem);
    transition: all .3s ease-in-out;
    
}
.skills-box {
    min-height: 20rem;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(120rem);
    transition: all .3s ease-in-out;
}
.about.show .skills-box {
    transform: translateX(0);
}
.school {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.text-center {
    text-align: center;
}
.progressive-bar {
    background: #fff;
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.progressive-bar div {
    background: #f04;
    height: 100%;
    width: 30%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progressive-bar .js {
    background: rgb(0, 255, 136);
    height: 100%;
    width: 30%;
    display: flex;
}
.progressive-bar .ng {
    background: rgb(0, 255, 136);
    height: 100%;
    width: 50%;
    display: flex;
}
.progressive-bar .npm {
    background: rgb(0, 255, 136);
    height: 100%;
    width: 40%;
    display: flex;
}
.progressive-bar .cs {
    background: rgb(0, 255, 136);
    height: 100%;
    width: 50%;
    display: flex;
}
.progressive-bar .dnet {
    background: rgb(0, 255, 136);
    height: 100%;
    width: 40%;
    display: flex;
}
.progressive-bar .cicd {
    background: rgb(0, 255, 136);
    height: 100%;
    width: 30%;
    display: flex;
}
.progressive-bar .ds {
    background: rgb(0, 255, 136);
    height: 100%;
    width: 40%;
    display: flex; 
}

/* Work */
.work {
    /* height: 33rem; */
    margin-bottom: 1rem;
}
.work h3, .about h3 {
    padding-top: 1.6rem;
    text-align: center;
    font-size: 2.3rem;
    text-transform: uppercase;
    position: relative;
}
.work-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .6rem;
}
.work-tab {
    width: 73%;
    border: 1px solid #f5f5f5;
    border-left: 4px solid #f04;
}
.work-tab ul {
    display: flex;
    justify-content: space-around;
}
.work-tab ul li {
    margin: 0 1.4rem;
    padding: 1rem;
    font-size: 1.2rem;
}
.work-container .work-nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    padding: 0 3rem;
    margin-top: 1.3rem;
    position: relative;
}
.box {
    flex: 1;
    margin-right: 1.9rem;
}
.work-1 {
    object-fit: cover;
    background: url('../img/work_datify.jpg') no-repeat center center/cover;
}
.work-2 {
    object-fit: cover;
    background: url('../img/work_buyify.png') no-repeat center center/cover;
}
.work-3 {
    object-fit: cover;
    background: url('../img/work_chatify.webp') no-repeat center center/cover;
}
.work-4 {
    object-fit: cover;
    background: url('../img/work_cloudify.png') no-repeat center center/cover;
}
.work-con {
    flex: 1;
    position: relative;
    min-height: 27rem;
    
}
.work-flex {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.work-features {
    margin-bottom: .5rem;
}
.btn-group {
    display: flex;
    width: 100%;
    margin-top: .3rem;
}
.flex-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.flex-col p {
    padding-top: .6rem;
    line-height: 1.7rem;
}
.features {
    padding: 1rem 0;
}
.features div {
    font-size: 1.2rem;
    font-weight: bold;
}
.features ul {
    display: flex;
    flex-wrap: wrap;
    
}
.features ul li {
    flex: 0 0 47%;
    padding: .5rem;
    font-size: .9rem;
    background: #fff;
    margin: .2rem;
    border: 1px solid lightgray;
}
.icon {
    position: absolute;
    top: 40%;
    background: #fff;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .8rem;
    cursor: pointer;
    z-index: 3;
    box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc ;
}
.ml-1 {
    margin-left: .7rem;
}
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chev-left {
    left: 3%;
}
.chev-right {
    right: 2%;
}
.btn-danger {
    background: rgb(255, 0, 68);
    color: #fff;
    border: 1px solid rgb(255, 0, 68);
    
}
.btn-primary {
    background: #0c0c66;
    color: #fff;
    border: 1px solid #0c0c66;
    
}
.btn-md {
    margin-top: .7rem;
    padding: .3rem .5rem;
    cursor: pointer;
    display: inline-block;
    font-size: .9rem;
    border: none;
    border-radius: .15rem;
    display: flex;
    align-items: center;
}
.btn-md i {
    margin-right: .3rem;
}

/* .grey-circle {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
} */
/* .text-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
} */
/* .text-header p{
    width: 100%;
    padding-top: 1rem;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: .7rem; */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    
}
footer p {
    text-align: center;
    font-size: 1.1rem;
}
footer p a {
    color: #fff;
}
#contact {
    display: flex;
    flex-direction: column;
    height: 10rem;
    background: #2f2d2d;
    color: #fff;
    line-height: 1.7;
    padding: 1rem;
}
.social-media {
    display: flex;
    line-height: 1.5;
    
}
.social-media a {
    color: #fff; 
}
.social-media > div {
    margin-left: .8rem;
    cursor: pointer;
}
.work-con > .d-none {
    display: none;
    opacity: 0;
}
.twitter a{
    color: #fff;
}
@media only screen and (max-width: 84rem) {
    .work-tab {
        width: 93%;
    }
   .work-container .work-nav {
        width: 100%;
    }
}

@media only screen and (max-width: 68rem) {
    .work-container .work-tab {
        width: 86%;
    } 
    .work-container .work-nav {
        width: 90%;
        padding: 0 1.2rem;
    }
}

@media only screen and (max-width: 67rem) {
    .work-flex {
        display: flex;
        flex-direction: column;
    }
    .flex-col h2 {
        margin-top: .8rem;
    }
    .progressive-bar div {
        width: 43%;
    }
    .intro p {
        line-height: 1.5;
    }
    .info-box {
        margin-right: 1.6rem;
    }
    .work-con {
        min-height: 55rem;
    }
    .header__nav-text {
        margin-bottom: .3rem;
    }
    .work-flex .box {
        min-height: 30rem;
        width: 100%;
    }
}

@media only screen and (max-width: 54rem) {
    .my-image {
        display: none;
    }
    .intro p {
        margin-top: 1.3rem;
    }
    .header__nav-text {
        margin-bottom: .4rem;
    }
    .about-body {
        margin: 0 10%;
    }
}

@media only screen and (max-width: 46rem) {
    .header__nav {
        display: flex;
        flex-direction: column;
    }
    .header__nav div {
        text-align: center;
    }
    .about-photo {
        height: 9rem;
        width: 9rem;
    }
    .about-body {
        margin: 0 3%;
    }
    .header__nav ul {
        padding-top: .5rem;
    }
    .intro h3 {
        font-size: 2.6rem;
    }
    .header__nav-text {
        font-size: 1.5rem;
    }
    .info-box {
        min-height: 15rem;
    }
}

@media only screen and (max-width: 38rem) {
    .intro h3, .intro p {
        width: 70%;
    } 
    .work-container .work-tab {
        width: 93%;
    }
    .intro h3 {
        margin-top: -6rem;
    }
    .work-container .work-nav {
        width: 100%;
    }
    .work-con {
        min-height: 60rem;
    }
    .about-body {
        display: flex;
        flex-direction: column;
    }
    .skills-box {
        width: 100%;
    }
}

@media only screen and (max-width: 32rem) {
    .header__nav{
        padding: 1rem 2rem;
    }
    .intro h3 {
        margin-top: -9rem;
    }
    .intro h3 {
        font-size: 2.4rem;
    }
    .intro h3, .intro p {
        width: 90%;
    }
    .work-container .work-nav {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 23rem) {
    .box {
        display: none;
    }
    .work-container .work-nav {
        padding: 0 .6rem;
    }
    
    .work-con {
        min-height: 35rem;
    }
    .work h3 {
        font-size: 1.8rem;
    }
}

.contact-email, .social-media {
    padding-top: .3rem;
}
.contact-email a {
    color: #fff;
}